html,
body {
    font-family: "Roboto Mono", monospace, sans-serif;
}

div.content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.box,
div.info {
    box-sizing: border-box;
    position: relative;
    top: 0px;
    padding: 24px;
    transition: top 1s ease-in-out;
}

@import 'header';
@import 'inputs';
@import 'info';
@import 'animations';
